body{
   
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;;
}
.display{
    background-color: rgb(109, 100, 100);
    border-radius: 1%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    overflow: hidden;
    color:whitesmoke;
    


}




.dis{
    width: 100%;
    height: 10vmin;
    background-color: black;
    color: whitesmoke;
    text-align: left;
    font-size: 60px;

}





button{
    width: 100px;
    height: 100px;
    border-radius: 15%;
    display: flex;
    font-size: 60px;
    background-color: rgb(34, 33, 33);
    color: white;
    cursor: pointer;
    border: none;
}

.button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   padding: 20px;
  
}


button:hover{
    background-color: rgb(60, 57, 57) ;
}

button:active{
    background-color: rgb(37, 32, 32);
}


#btn{
    background-color: rgb(204, 136, 12);
}


#btn:hover{
    background-color: rgb(217, 162, 60);
}
#btn:active{
    background-color: rgb(232, 154, 9);
}

.column2 {
    grid-column: 3 / span 2;
    width: auto;
}